<ul id="album-fotos">
    <li id="foto01"><span>Foto1</span></li>
    <li id="foto02"><span>Foto2</span></li>
    <li id="foto03"><span>Foto3></li>
    <li id="foto04"><span>Foto4</span></li>
    <li id="foto05"><span>Foto5</span></li>
    <li id="foto06"><span>Foto6</span></li>
</ul>

