<h1>New Monster</h1>

<%= render 'form' %>

<div class="action">
	<button type="f.submit" class="btn btn-primary"><%= 'Create' %></button>
	
	<%= link_to monsters_path  do %>
		<button type="button" class="btn btn-primary"><%= 'Back' %></button>
	<% end %>
</div>
