#menu-logar {
  float: right;
  padding-top: 40px;
  text-decoration: none;
  width: auto;
}

.container-login {
	border: 1px solid;
	border-radius: 5px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	background-color: rgba(150, 144, 152, 0.2);
}

h2 {
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
}

.field-devise {
	margin-left: 40px;
}

.remember {
	margin-left: 50px;
	-moz-box-shadow:10px 10px 5px #000000;
	-webkit-box-shadow:10px 10px 5px #000000;
}

.actions-devise {
	text-align: center;
	clear: both;
}

.links {
	text-align: center;
}

#links_session {
	text-align: center;
}

div.container-login {
	background: url("Login_new.png");
}

div.text-login {
	margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    color: black;
    border-radius: 5px;
}

a.links_decoration:hover {
  clear: both;
  text-decoration: none;
  background-color: transparent;
}