ul#monster_grid {
	list-style: none;
	margin-top: 35px;
}									

ul#monster_grid li {
	height: 105px;
	width: 110px;
	float: left;
	margin: 10px;
	margin-bottom: 70px;
    border: 2px solid #ffffff;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
    text-align: center;
}

ul#monster_grid li:hover {
	-webkit-transform: scale(1.3);
    -webkit-transition: all .1s ease-in;
    -moz-transform: scale(1.3);
    -moz-transition: all .1s ease-in;
    background-color: black;
    color: black;
}

.button_add {
	clear: both;
	position: relative;
}

ul#monster_grid li p {
	padding-top: 10px;
}

#element_icon {
	padding-top: 30px;
	margin: auto;
	padding-top: 10px;
}

h1.links_home { 
	margin-left: auto;
	margin-right: auto;
 }

.status_align {
	text-align: center;
}

#informations {
	text-align: center;
}

.image_mob {
	text-align: center;
	margin: auto;
	transition: all .2s ease-in-out;
}

#button_search {
	float: right;
}

.chosen_element_monster {
	width: 80px;
}

.chosen_star_monster {
	width: 50px;
}