// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#menu-logar {
  float: right;
  margin-top: -20pt;
  text-decoration: none;
}

.links_home a:hover{
  text-decoration: none;
  background: none;
  color: white;
}

#menu-logar ol {
  background: rgb(237,237,237);
}

.links_telas a:hover {
  text-decoration: none;
  background: rgb(248,248,248);
  color: black;
}

#welcome_principal {
  text-align: center;
}

.jumbotron {
	background-image: image-url("My_Summoners-War-Header.png");
	margin-top: 10px;
	padding-top: 0px;
	margin-bottom: 10px;
	height: 200px;
}

.links_home {		
	clear: both;
	position: relative;
	text-align: center;
}

a.decoration_button:hover {
  clear: both;
  text-decoration: none;
  background-color: transparent;
}

a.text_guild {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 80px/normal "Anton", Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 0 0 20px rgb(254,252,201) , 10px -10px 30px rgb(254,236,133) , -20px -20px 40px rgb(255,174,52) , 20px -40px 50px rgb(236,118,12) , -20px -60px 60px rgb(205,70,6) , 0 -80px 70px rgb(151,55,22) , 10px -90px 80px rgb(69,27,14) ;
}